@model AyD_P2.PACIENTE

@{
    ViewBag.Title = "Details";
    if (Session["codigo_usuario"] == null)
    {
        Response.Redirect("~/Account/Login");

    }
}

<h2>Details</h2>

<div>
    <h4>PACIENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>


        <dt>
            DPI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dpi)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nac)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            # de Tarjeta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_tarjeta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
