@model AyD_P2.CITA

@{
    ViewBag.Title = "Delete";

    if (Session["codigo_usuario"] == null)
    {
        Response.Redirect("~/Account/Login");

    }
}

<h2>Eliminar</h2>

<h3>Esta seguro de eliminar esta cita?</h3>
<div>
    <h4>CITA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACIENTE1.Nombre)
        </dd>

        <dt>
            Personal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONAL1.nombre)
        </dd>

        <dt>
            Sala
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALA1.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
